
<!-- header begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:header.html.twig',{"title":"Add Course","url":"#"}) }}
<!-- header end -->
<!-- Left side column. contains the logo and sidebar -->
{{ include('ApplocationSonataBackgroundBundle:Index:sidebar.html.twig') }}


<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="form-group col-sm-10">
                            <h3 class="box-title">Course</h3></div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">NAAM  * </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" placeholder=""/>

                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">CODE  * </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" required="" />

                            </div>
                        </div>
                        <div class="form-group col-sm-10">
                            <label class="col-sm-3 control-label" for="">ACTIVE </label>
                            <div class="col-sm-4">
                                <input type="checkbox" checked="checked" />

                            </div>
                        </div>

                        <div class="form-group col-sm-10">
                            <label class="col-sm-7 control-label" for=""> </label>
                            <div class="col-sm-5">

                                <button class="btn btn-info" type="submit">Save</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- footer begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:footer.html.twig') }}
<!-- footer end -->
</body>
</html>
