
<!-- header begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:header.html.twig',{"title":"Add Customer","url":path("applocation_sonata_background_toaddCustomerpage")}) }}
<!-- header end -->
<!-- Left side column. contains the logo and sidebar -->
{{ include('ApplocationSonataBackgroundBundle:Index:sidebar.html.twig') }}


<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>&nbsp;

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">TODO</a></li>
        <li class="active">Todo eummary</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-header">
    <h3 class="box-title"></h3>
</div><!-- /.box-header -->
<div class="box-body">
<table id="example2" class="table table-bordered table-hover">
<thead>
<tr>
    <th>Status</th>
    <th>Customer name</th>
    <th>Address</th>
    <th>Debtor number</th>
    <th>Kvk number</th>
    <th>Telephone number</th>
    <th>E-mai</th>
    <th></th>
</tr>
</thead>
    <tbody>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr><tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Customer name 1</td>
        <td> Address, zip code, city</td>
        <td>Debtor number</td>
        <td>KvK number</td>
        <td>Telephone number</td>
        <td>Email</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>

    </tbody>
</table>
</div><!-- /.box-body -->
</div><!-- /.box -->

<!-- /.box -->
</div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- footer begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:footer.html.twig') }}
<!-- footer end -->
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
</body>
</html>
