
<!-- header begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:header.html.twig',{"title":"Add location","url":path("background_addLocationspage")}) }}
<!-- header end -->
<!-- Left side column. contains the logo and sidebar -->
{{ include('ApplocationSonataBackgroundBundle:Index:sidebar.html.twig') }}


<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-header">
    <h3 class="box-title"></h3>
</div><!-- /.box-header -->
<div class="box-body">
<table id="example2" class="table table-bordered table-hover">
<thead>
<tr>
    <th>Status</th>
    <th>Name</th>
    <th>Type</th>
    <th>Activity</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>Mobile</th>
    <th>Contactperson</th>
    <th>Capacity</th>
    <th>Catering</th>
    <th></th>
</tr>
</thead>
    <tbody>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr> <tr>
        <td>Active</td>
        <td>Name</td>
        <td>Type</td>
        <td>Activity</td>
        <td>Address, zip code, city</td>
        <td>Number</td>
        <td>Number</td>
        <td>Contact person</td>
        <td>Capacity</td>
        <td>Catering</td>
        <td width="175"><button class="btn btn-info">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger">Detele</button></td>
    </tr>



    </tbody>
</table>
</div><!-- /.box-body -->
</div><!-- /.box -->

<!-- /.box -->
</div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- footer begin -->
{{ include('ApplocationSonataBackgroundBundle:Index:footer.html.twig') }}
<!-- footer end -->
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
</body>
</html>
